set default=0
set timeout=10
if [ "${grub_platform}" = "efi" ]; then
	insmod efi_gop
else
	insmod vbe
	insmod vga
fi

insmod font
if loadfont /boot/grub/fonts/unicode.pf2
then
        insmod gfxterm
        set gfxmode=auto
        set gfxpayload=keep
        terminal_output gfxterm
fi
menuentry 'PythOS Phoenix' --class os {
    insmod gzio
    insmod part_msdos
    search --no-floppy --set=root --file /boot/bzImage
    linux /boot/bzImage
    initrd /boot/initramfs.cpio.gz
}
